<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eturial.blog.server.mapper.BlogMapper">

    <resultMap id="BaseResultMap" type="com.eturial.blog.server.pojo.Blog">
            <id property="blogId" column="blog_id"/>
            <result property="title" column="title"/>
            <result property="description" column="description"/>
            <result property="content" column="content"/>
            <result property="createTime" column="create_time"/>
            <result property="firstPicture" column="first_picture"/>
            <result property="thumbs" column="thumbs"/>
            <result property="views" column="views"/>
            <result property="comment" column="comment"/>
            <result property="tagId" column="tag_id"/>
    </resultMap>

    <insert id="addArticle" parameterType="blog">
        insert into blog(title, description, content, first_picture, tag_id)
        values (#{blog.title}, #{blog.description}, #{blog.content}, #{blog.firstPicture}, #{blog.tagId});
    </insert>
    <update id="updateArticle" parameterType="blog">
        update blog
        set title = #{blog.title},
            description = #{blog.description},
            content = #{blog.content},
            first_picture = #{blog.firstPicture},
            tag_id = #{blog.tagId}
        where blog_id = #{blog.blogId};
    </update>

    <update id="updateThumb" parameterType="java.lang.Long">
        update blog
        set thumbs = thumbs + 1;
    </update>

    <update id="updateView">
        update blog
        set views = views + 1;
    </update>

    <update id="updateComment">
        update blog
        set comment = comment + 1;
    </update>

    <delete id="deleteArticle" parameterType="java.lang.Long">
        delete
        from blog
        where blog_id = #{id};
    </delete>

    <select id="getAllBlog" resultMap="BaseResultMap">
        select *
        from blog;
    </select>

    <select id="getTagBlog" resultMap="BaseResultMap">
        select *
        from blog
        where #{id} = tag_id;
    </select>

    <select id="getMostViews" resultMap="BaseResultMap">
        select blog_id, title, views
        from blog
        order by views desc;
    </select>

    <select id="getBlogById" resultMap="BaseResultMap">
        select *
        from blog
        where blog_id = #{id};
    </select>

</mapper>
