<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eturial.blog.server.mapper.FriendsMapper">

    <resultMap id="BaseResultMap" type="com.eturial.blog.server.pojo.Friends">
            <id property="friendId" column="friend_id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="link" column="link" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="Base_Column_List">
        friend_id,name,avatar,
        description,link
    </sql>
</mapper>
