<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eturial.blog.server.mapper.RewardMapper">

    <resultMap id="BaseResultMap" type="com.eturial.blog.server.pojo.Reward">
            <id property="rewardId" column="reward_id" jdbcType="BIGINT"/>
            <result property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="time" column="time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        reward_id,uid,time
    </sql>
</mapper>
