<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eturial.blog.server.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.eturial.blog.server.pojo.User">
            <id property="uid" column="uid" jdbcType="BIGINT"/>
            <result property="nickname" column="nickname"/>
            <result property="gender" column="gender"/>
            <result property="username" column="username"/>
            <result property="password" column="password"/>
            <result property="email" column="email"/>
            <result property="avatar" column="avatar"/>
    </resultMap>

    <select id="getUserById" resultType="com.eturial.blog.server.pojo.LoginUser" parameterType="java.lang.Long">
        select uid, username, password
        from user
        where uid = #{id};
    </select>
    <select id="findByUsername" resultType="com.eturial.blog.server.pojo.LoginUser">
        select uid,username,password
        from user
        where username = #{username};
    </select>

    <select id="getUserByUsername" resultType="com.eturial.blog.server.pojo.User">
        select *
        from user
        where username = #{username};
    </select>

    <select id="getAllUser" resultMap="BaseResultMap">
        select *
        from user;
    </select>

</mapper>
